@use "../styles/scroll.scss";
@use "../styles/input.scss";
@use "../styles/variables.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

.v-container{
  max-width: 2560px;
}

.color-text {
    color: $text-color;
}

.color-primary {
    color: $primary-color;
}

.background-secondary {
    background-color: $background-secondary;
}

* {
  font-family: $default-font !important;
}

@mixin gradient-text {
  background-image: var(--v-gradientText);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.gradient-text{
  @include gradient-text;
}

a {
  text-decoration: none;
}

input {
  background-color: $background-color;
}

body {
  background-color: $background-color;
}
